html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Navbars CSS */
.nav-1 {
    background-color: #292929;
    height: 50px;
}
.header-left, .header-right {
    color: #FFFFFFA8;
}

.nav-2 {
    background-color: #426B56;
    height: 132px;
}

.nav-2.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it is above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
}

.nav-logo {
    color: #AF9756;
}
.nav-link {
    color: #AF9756;
    font-size: 1.2rem;
}
.nav-link:hover, #focus-link {
    color: white;
    border-bottom: 0.2rem solid white;
}
.logo-img {
    max-width: 100%;
    height: auto;
    max-height: 120px; /* Adjust this value as needed */
}

.separator {
    padding: 0 10px; /* Adjust the spacing as needed */
    color: white; /* Adjust the color as needed */
    line-height: 2.5; /* Adjust the line-height to match the nav-link */
}

.elements-separator {
    display: block;
    height: 100px;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Specific to welcome page */

    /* Carousel CSS */
    .carousel-item {
        height: 700px;
    }
    .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 5s ease;
    }
    .carousel-item.active img {
        transform: scale(1.1);
    }

    /* Bloc About us CSS*/
    .block-about-us {
        width: 100%;
        height: auto;
        background-color: #333;
    }

    .about-us-title {
        color: #AF9756; 
        text-align: center; 
        padding-top: 20px; 
        font-family: 'Rochester', Sans-serif; 
        font-size: 40px; 
        font-weight: 600;
    }

    .about-us-text {
        text-align: center; 
        max-width:718px; 
        margin-left:auto; 
        margin-right:auto; 
        margin-bottom: 0;
        display:flex; 
        position:relative; 
        font-size: 1rem; 
        font-weight: 400; 
        line-height: 1.5; 
        color: #BEBEBE;
    }

/* Specific to carte page */

    /* Hero image CSS */
    .hero-image-carte {
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
    }

    /* Bloc Carte CSS */
    .block-carte {
        width: 100%;
        height: auto;
        background-color: #333;
    }

    .carte-title-main {
        color: #AF9756; 
        text-align: center; 
        padding-top: 20px; 
        font-family: 'Rochester', Sans-serif; 
        font-size: 40px; 
        font-weight: 600;
    }

    .carte-title-secondary {
        color: #426B56; 
        text-align: center; 
        padding-top: 20px; 
        font-family: 'Rochester', Sans-serif; 
        font-size: 30px; 
        font-weight: 600;
    }

    .carte-appetizer-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        margin-bottom: 0;
    }

    .carte-text {
        text-align: center; 
        width: 40vw;
        font-size: 1rem; 
        font-weight: 400; 
        line-height: 1.5; 
        color: #BEBEBE;
        margin-top: 50px;
    }

    .carte-text-main {
        font-weight: bold;
        color:#AF9756;
    }

/* specific to restaurant page */

    /* Hero image CSS */
    .hero-image-restaurant {
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
    }

    /* Bloc restaurant CSS */
    .block-restaurant {
        width: 100%;
        height: auto;
        background-color: #333;
    }

    .restaurant-element {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .restaurant-image {
        background-size: cover;
        background-position: center;
        height: auto;
        width: 40%;
        color: white;
        font-size: 2rem;
        display: flex;
    }

    .restaurant-content {
        height: auto;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .restaurant-title {
        color: #AF9756; 
        text-align: center; 
        padding-top: 20px; 
        font-family: 'Rochester', Sans-serif; 
        font-size: 40px; 
        font-weight: 600;
    }

    .restaurant-text {
        text-align: center; 
        margin-left:auto; 
        margin-right:auto; 
        display:flex; 
        position:relative; 
        font-size: 1rem; 
        font-weight: 400; 
        line-height: 1.5; 
        color: #BEBEBE;
    }

/* specific to contact page */

    /* Hero image CSS */
    .hero-image-contact {
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
    }

    /* Bloc contact CSS */
    .block-contact {
        width: 100%;
        height: auto;
        background-color: #333;
        display: flex;
        align-items: center;
    }

    .contact-element {
        height: 700px;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-title {
        display: flex;
        align-items: center;
    }

    .contact-title img {
        padding: 10px;
    }

    .contact-title h2 {
        color: #AF9756; 
        text-align: center; 
        padding-top: 20px; 
        font-family: 'Rochester', Sans-serif; 
        font-size: 40px; 
        font-weight: 600;
    }

    .contact-text {
        text-align: center; 
        margin-left:auto; 
        margin-right:auto; 
        display:flex; 
        position:relative; 
        font-size: 1rem; 
        font-weight: 400; 
        line-height: 1.5; 
        color: #BEBEBE;
    }

    .contact-element-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 400px;
        width: 45%;
    }
    .contact-link {
        text-decoration: none;
    }